{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in messages %}

    <li class="list-group-item">
      <!-- <a href="/messages/{{ message.id }}" class="message-link"> -->

      <a href="/users/{{ user.id }}">
        <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ user.id }}">@{{ user.username }}</a>
        <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
        <p>{{ message.text }}</p>
        
        {% if message.user_id != g.user.id %}
        {% if message in g.user.liked_messages %}
        <form action="/unlike/{{message.id}}" method="POST">
          <input class="btn btn-outline-primary" type="submit" value="UnLike">
        </form>
        {% else %}
        <form action="/like/{{message.id}}" method="POST">

          <input class="btn btn-primary" type="submit" value="Like">
        </form>
        {% endif %}
        {% else %}
        <form action="/messages/{{message.id}}/delete" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>

        {% endif %}

      </div>
    </li>

    {% endfor %}

  </ul>
</div>
{% endblock %}